<!DOCTYPE html>
<html>
  <head>
    <meta name="referrer" content="no-referrer" />
    <title>Gentleman</title>
    
    <!-- Compiled and minified CSS --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
    <style>    
      /* fallback */
      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
      }

      .customPadding{
        padding-left: 10%; 
        padding-right: 10%;
        padding-top: 10px;
        margin-bottom: 0px;
      }

      .customPadding2 {
        padding-left: 10%; 
        padding-right: 10%;
      }

      body {
        /*background: url('img/bg1.jpg');*/
        background: url('img/bg.png');
        background-repeat: repeat;
        background-size : 100%;
        color:  grey;
        overflow: auto;
        font-family: 微軟正黑體;
      }

      .tabs-content.carousel.carousel-slider .carousel-item.active{
          position: relative;
      }

      .inputHidden{
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        position: absolute;
        z-index: 999;
        top: 50px;
        opacity: 1;
      }

      .opacTransiion {
        transition-property: opacity 0.5s ease-in-out;
        opacity: 1;
      }

      .opacTransiion.opacTransitionToggle {
        opacity: 0;
        transition-property: opacity 0.5s ease-in-out;
      }

      .file-upload > input {
        display: none;
      }

      .uploadBtn {
        opacity: .25;
        background: inherit;
      }

      .uploadBtn:hover {
        opacity: 1;
        transition: 0.5s ease-in-out;
        background: inherit;
      }

      .Downloaded {
        color: red;
      }

    </style>

  </head>
  <!--<body style="height: -webkit-fill-available; overflow: hidden;">-->
  <body style="height: -webkit-fill-available; ">

    <div id="collectionMainPage">

      <!-- MemoList -->
      <ul id="sidenav-1" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="img/bg.jpg">
          </div>
          <div style="text-align: center; vertical-align: middle; padding-bottom: 35px;"><h6 class="white-text">Clipboard</h6></div>
        </div></li>

        <li>
          <a href="#!" class="grey lighten-1 btn-small waves-effect waves-light" v-on:click="clearCopyList">
            <i class="material-icons">clear</i>Clear List
          </a>
        </li>
        
        <li>
          <a href="#!" 
            class="grey lighten-1 btn-small btn waves-effect waves-light copyBtn"
            v-bind:data-clipboard-text="copyListStr"
            onclick="M.toast({html: `Copy ${collectionVue.copyList.length} Entries`, displayLength: 1000})"
            >
            <i class="material-icons">content_copy</i>Copy List
          </a>
        </li>
       
        <div style="padding-left: 30px; padding-right: 30px;">
          <div v-for="(list, listId) in copyList" style="padding-bottom: 12px;">
            <div style="background: inherit; position: absolute;margin-left: -10px; margin-top: 3px;">
               <div class="uploadBtn" v-on:click="deleteMemo(listId)">
                  <i class="material-icons">clear</i>
                </div>
            </div>
            <div style="margin-left: 20px;">
              <a rel="noopener" target="_blank" v-bind:href="list.href">
                  {{ list.title }}
              </a>
            </div>
           
          </div>
        </div>        
      </ul>

      <!-- TaskList -->
      <ul id="sidenav-2" class="sidenav">
          <li><div class="user-view">
              <div class="background">
                <img src="img/bg.jpg">
              </div>
              <div style="text-align: center; vertical-align: middle; padding-bottom: 35px;"><h6 class="white-text">TaskList</h6></div>
            </div></li>
    
            <li>
              <a href="#!" class="grey lighten-1 btn-small waves-effect waves-light" v-on:click="clearTaskList">
                <i class="material-icons">clear</i>Clear List
              </a>
            </li>

            <li>
                <a href="#!" 
                  class="grey lighten-1 btn-small btn waves-effect waves-light copyTaskBtn"
                  v-bind:data-clipboard-text="copyTaskStr"
                  onclick="M.toast({html: `Copy ${collectionVue.taskList.filter(x => !x.hasDownload).length} Entries`, displayLength: 1000})"
                  >
                  <i class="material-icons">content_copy</i>Copy Tasks
                </a>
              </li>

            <div style="padding-left: 30px; padding-right: 30px;">
              <div v-for="(list, listId) in taskList" style="padding-bottom: 12px;">
                <div style="background: inherit; position: absolute;margin-left: -10px; margin-top: 3px;">
                   <div v-if="list.hasDownload === false" class="uploadBtn" v-on:click="deleteTask(listId)">
                      <i class="material-icons">clear</i>
                    </div>
                    <div v-if="list.hasDownload === true" class="uploadBtn" v-on:click="resetTask(listId)">
                      <i class="material-icons" style="font-size: 20px; margin-left: 1px;">do_not_disturb_alt</i>
                    </div>
                    
                </div>
                <div style="margin-left: 20px;">
                  <a v-on:click="IncrementTaskIndex(listId - taskIndex)" v-bind:class="{ Downloaded: list.hasDownload }">
                      {{ list.keyword }}
                  </a>
                </div>
               
              </div>
            </div>        
      </ul>


      <div style="padding: 18px; position: absolute;">
        <a href="#" data-target="sidenav-1" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>

      <div style="padding: 18px; position: absolute; margin-top: 35px; left: 7px;">
          {{ copyList.length }}
      </div>

      <div style="padding: 18px; position: absolute; right: 7px; margin-top: 35px;">
          <a href="#!" v-on:click="collectionVue.IncrementTaskIndex(-collectionVue.taskIndex-1)">{{ taskIndex }}</a>
      </div>

      <div style="padding: 18px; position: absolute; right: 0px;">
        <a href="#" data-target="sidenav-2" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>

      <div style="padding: 18px; position: absolute; right: 0px; margin-top: 70px;">
        <a href="#" v-on:click="IncrementTaskIndex(-1)"><i class="material-icons">fast_rewind</i></a>
      </div>

      <div style="padding: 18px; position: absolute; right: 0px; margin-top: 105px;">
        <a href="#" v-on:click="IncrementTaskIndex(1)"><i class="material-icons">fast_forward</i></a>
      </div>

      

      <div id="test-swipe-2">
          <div class="customPadding row opacTransiion" id="collectionInput">
              <h6 style="padding: 10px; padding-bottom: 5px;">Inputs</h6>
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s11">
                    <textarea id="textarea1" class="materialize-textarea" data-original-height=0 placeholder="どこ━━━━(゜∀゜三゜∀゜)━━━━!!??" ></textarea>
                    <label for="textarea1">Enter Keyword</label>
                  </div>
  
                  <!--<div class="input-field col uploadBtn" style="margin-left: -50px; margin-top: 25px; z-index: 998; width: 38px;">
                    <div class="file-upload">
                      <label for="collectionFileInput">
                        <i class="material-icons">cloud_upload</i>
                      </label>
                      <input id="collectionFileInput" type="file" webkitdirectory directory/>
                    </div>
                  </div>-->
                  
                  <a class="btn-floating btn-small waves-effect waves-light" style="margin-top: 20px; margin-left: 5px;" id="submitCollection">
                    <i class="material-icons" style="margin-top: 2px; margin-left: 1px;">send</i>
                  </a>

                  <a class="btn-floating btn-small waves-effect waves-light" style="margin-top: 20px; margin-left: 5px;" id="submitTask">
                    <i class="material-icons" style="margin-top: 2px; margin-left: 1px;">description</i>
                  </a>
                </div>
              </form>
          </div>
          <div class="customPadding row inputHidden" id="collectionInputHidden">
              <div class="progress">
                  <div class="indeterminate"></div>
              </div>
          </div>
          <div class="customPadding2 opacTransiion" id="collectionResult">      
            <div class="row" v-for="(collection, typeIdx) in collections">               
              <h6 style="padding: 10px;">{{ types[typeIdx] }} Results: </h6>              
                    
              <ul class="pagination" style="text-align: center;">                
                <ul class="pagination" style="text-align: center;">
                  <li class="waves-effect" v-on:click="passIndex(typeIdx, currentIndex[typeIdx] - 1)"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                  <li v-if="leastIndex[typeIdx] != 0">...</li>
                  
                  <li v-for="(n, index) in (mostIndex[typeIdx] - leastIndex[typeIdx])" 
                      class="waves-effect" 
                      v-bind:class="{ active: (index + leastIndex[typeIdx]) === currentIndex[typeIdx] }" 
                      v-on:click="passIndex(typeIdx, index + leastIndex[typeIdx])">
                      <a href="#!" style="font-size: 14px;"> {{ leastIndex[typeIdx] + index + 1 }} </a>
                  </li>
                  
                  <li v-if="mostIndex[typeIdx] != parseInt((collection.length + indexPerPage - 1)/ indexPerPage)">...</li>
                  <li class="waves-effect" v-on:click="passIndex(typeIdx, currentIndex[typeIdx] + 1)"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                </ul>                
              </ul>

              <div v-if="collection.length !== 0" v-for="(n, index) in indexPerPage" class="col s12 m2">
                <div class="card" v-if="(indexPerPage * currentIndex[typeIdx] + index) < collections[typeIdx].length" :key="indexPerPage * currentIndex[typeIdx] + index">
                  <div class="card-image waves-effect waves-block waves-light">                    
                      <a class="deep-orange darken-1 btn-floating btn-small waves-effect waves-light" style=" margin-top: 10px;  margin-right: -26px; position: absolute; right: 40px;" v-on:click="memo(typeIdx, (indexPerPage * currentIndex[typeIdx] + index))">
                        <i class="material-icons" style="margin-top: 2px; margin-left: 1px;">add_shopping_cart</i>
                      </a>
                    <img class="activator" v-bind:src="collection[(indexPerPage * currentIndex[typeIdx] + index)].thumb" v-bind:height="screen.height / 3.6">
                    
                  </div>
                  <div class="card-content">
                    <div 
                        class="card-title activator grey-text text-darken-4" 
                        style="font-size: 20px; text-overflow: ellipsis; height: 60px; text-align: center; overflow: hidden;" 
                        v-bind:style="getFontSize(collection[(indexPerPage * currentIndex[typeIdx] + index)].title)">
                        <a target="_blank" v-bind:href="collection[(indexPerPage * currentIndex[typeIdx] + index)].href" rel="noopener">
                          {{ collection[(indexPerPage * currentIndex[typeIdx] + index)].title }}
                        </a>
                    </div>					  
                  </div>
                  <div class="card-reveal">
                    <div class="card-title grey-text text-darken-4" style="font-size: 16px; font-weight: bold; text-overflow: ellipsis; overflow: hidden;">
                      {{ collection[(indexPerPage * currentIndex[typeIdx] + index)].title }}
                    </div>
                    <div style="width: 80%; word-wrap: break-word;">
                        <br>
                        <a target="_blank" v-bind:href="collection[(indexPerPage * currentIndex[typeIdx] + index)].href" rel="noopener">
                          {{ collection[(indexPerPage * currentIndex[typeIdx] + index) ].href }}
                        </a>
                        <br><br>
                        <a target="_blank" v-bind:href="collection[(indexPerPage * currentIndex[typeIdx] + index)].thumb" rel="noopener">
                        {{ collection[(indexPerPage * currentIndex[typeIdx] + index) ].thumb }}
                        </a>
                    </div>
                  </div>      
                </div>	
              </div>
              
            </div>
        </div>
      </div>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
    <script type="text/javascript">

      $(document).ready(function(){        
        $('#DelayHolder').css('display', '')

        $('#sidenav-1').sidenav({edge: 'left'});
        $('#sidenav-2').sidenav({edge: 'right'});

        // Disable Hiddle Blocks
        $('#generateInputHidden').css('display', 'none');
        $('#collectionInputHidden').css('display', 'none');

        $('#submitCollection').click(event => {
            collectionVue.RunTask()
        })

        $('#submitTask').click(event => {
            const splitted = $('#textarea1').val().split('\n').filter(x => x.length > 0).filter(x => !x.includes('http://') && !x.includes('https://'))
            splitted.map(x => collectionVue.taskList.push({ keyword: x, hasDownload: false }))
            collectionVue.taskIndex = -1
            $('#textarea1').val('')
            M.textareaAutoResize($('#textarea1'));

            // workaround for M.textareaAutoResize
            $('#textarea1').css('height', '')
        })

        const clipboard = new Clipboard('.copyBtn');

        clipboard.on('success', function(e) {
            console.info('Accion:', e.action);
            console.info('Texto:', e.text);
            console.info('Trigger:', e.trigger);

            e.clearSelection();
        });
        clipboard.on('error', function(e) {
            console.error('Accion:', e.action);
            console.error('Trigger:', e.trigger);
        });

        const clipboard2 = new Clipboard('.copyTaskBtn');

        clipboard2.on('success', function(e) {
            console.info('Accion:', e.action);
            console.info('Texto:', e.text);
            console.info('Trigger:', e.trigger);

            e.clearSelection();
        });
        clipboard2.on('error', function(e) {
            console.error('Accion:', e.action);
            console.error('Trigger:', e.trigger);
        });

      });

      $(document).keypress((event) => {
          if (event.which == '13') {
            // Disable "Enter" Key For Form
            event.preventDefault();
          }
      });

      var collectionVue = new Vue({
        el: '#collectionMainPage',
        data: {
            status: 'null',
            types : [],
            collections : [],
            currentIndex: [],
            leastIndex: [],
            mostIndex: [],
            indexPerPage: 6,
            paginationPerPage: 15,
            paginationStride: 5,
            copyList: [],
            taskList: [],
            taskIndex: -1
        },
        computed: {
          copyListStr: function() {
            let str = ''
            for (const iterator of this.copyList) {
              str += `${iterator.href} `
            }
            return str
          },
          copyTaskStr: function() {
            let str = ''
            for (const iterator of this.taskList) {
              if (iterator.hasDownload) { continue }
              str += `${iterator.keyword}\n\n`
            }
            return str
          }
        },
        methods:
        {
          getFontSize : function(str){
            var size = 24 - ((str.length - 12) / 3.5)
            size = size < 16 ? 16 : size
					  return `font-size: ${size}px;`
          },
          passIndex : function(typeIdx, idx){
            let limit = parseInt((this.collections[typeIdx].length + this.indexPerPage - 1)/ this.indexPerPage);
            this.currentIndex[typeIdx] = idx < 0 ? 0 : idx < limit ? idx : limit - 1 ;
            this.$forceUpdate()
          },
          updatePaginationIndexes : function(idx)
          {
            let limit = parseInt((this.collections[idx].length + this.indexPerPage - 1)/ this.indexPerPage);
            this.leastIndex[idx] = (this.currentIndex[idx] - this.paginationStride) > 0 ? (this.currentIndex[idx] - this.paginationStride) : 0;
            this.mostIndex[idx] = (this.leastIndex[idx] + this.paginationPerPage) > limit ? limit : (this.leastIndex[idx] + this.paginationPerPage);
            // Re-clamp leastIndex
            // Consider when you reach the end of the paginations
            // Without this clamp, the leastIndex will continues to minus with currentIndex increases
            // results in displayed pagination amount != (2 * paginationStride + 1)
            this.leastIndex[idx] = (this.mostIndex[idx]  - this.paginationPerPage) > 0 ? (this.mostIndex[idx]  - this.paginationPerPage) : 0;
          },
          memo : function(typeId, collectionId) {
            M.toast({html: 'Add ' + this.collections[typeId][collectionId].title, displayLength: 1000})
            this.copyList.push(this.collections[typeId][collectionId])
            if (this.taskIndex >= 0 && this.taskIndex < this.taskList.length) {
              this.taskList[this.taskIndex].hasDownload = true
            }
          },
          deleteMemo: function(listId) {
            this.copyList.splice(listId, 1)
          },
          clearCopyList: function(silent=false) {
            const len = this.copyList.length
            while(this.copyList.length > 0){
              this.copyList.pop()
            }
            if(!silent){
              M.toast({html: `Delete ${len} Entries`, displayLength: 1000})
            }

            this.taskIndex = -1
          },
          IncrementTaskIndex: function(increment) {
            const val = increment + this.taskIndex
            this.taskIndex = (val >= this.taskList.length ? this.taskList.length - 1 : (val <= -1 ? -1 : val))
            
            const instance1 = M.Sidenav.getInstance($('#sidenav-1'));
            instance1.close()

            const instance2 = M.Sidenav.getInstance($('#sidenav-2'));
            instance2.close()

            M.toast({html: `Update Query to ${this.taskList[this.taskIndex].keyword}`, duration: 1000})

            $('#textarea1').val(this.taskList[this.taskIndex].keyword)
            this.RunTask()
          },
          RunTask: function() {
            const param =  $('#textarea1').val()
            const pendingInstnace = M.toast({html: 'Pending ' + param + ' ... ', displayLength: 30000})
            $.ajax('/search?param=' + param).done(data => {
              collectionVue.types = Object.keys(data)
              collectionVue.collections = Object.values(data)
              collectionVue.currentIndex = new Array(collectionVue.collections.length).fill(0)
              collectionVue.leastIndex = new Array(collectionVue.collections.length).fill(0)
              collectionVue.mostIndex = new Array(collectionVue.collections.length)
              for (let i = 0; i < collectionVue.mostIndex.length; ++i) {
                collectionVue.mostIndex[i] = collectionVue.collections[i].length
              }
              collectionVue.$forceUpdate()
              M.toast({html: 'Done!', displayLength: 1000})
              pendingInstnace.dismiss()
            })
          },
          deleteTask: function(listId) {
            this.taskList.splice(listId, 1)
          },
          resetTask: function(listId) {
            this.taskList[listId].hasDownload = false
          },
          clearTaskList: function(silent=false) {
            const len = this.taskList.length
            while(this.taskList.length > 0){
              this.taskList.pop()
            }
            if(!silent){
              M.toast({html: `Delete ${len} Tasks`, displayLength: 1000})
            }
          }
        },
        watch: {
          indexPerPage: function(val){
            for(let i = 0; i < this.types.length; ++i){
              this.updatePaginationIndexes(i)
            }            
          },
          paginationPerPage: function (val) {
            this.paginationStride = parseInt((this.paginationPerPage - 1) / 2)
          },
          currentIndex: function (newVal) {
            for(let idx = 0; idx < this.types.length; ++idx){              
              let val = newVal[idx]

              // clamp the range
              let limit = parseInt((this.collections[idx].length + this.indexPerPage[idx] - 1)/ this.indexPerPage[idx]);
              val = val < 0 ? 0 : val >= limit ? limit - 1: val;              
              
              // update once since updatePaginationIndexes need it
              this.currentIndex[idx] = val;
              this.updatePaginationIndexes(idx);
              
              // Disable opened cards
              [...$('.card-reveal')].filter(x => $(x).css('display') === 'block').map(x => $(x).css('display', '').css('transform',''))
            }

            return this.currentIndex
          }
        }
      })

    </script>
  </body>
</html>